.dialog-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vw;
  transition: opacity .2s ease-out, visibility .2s ease-out;

  &:not(.open) {
    visibility: hidden;
    opacity: 0;
  }

  .dialog-backdrop {
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: .8;
    cursor: pointer;
  }

  .dialog-item {
    transform: translateY(-100px);
    opacity: 0;
    visibility: hidden;
    transition: transform .2s ease-out, opacity .2s ease-out, visibility .2s ease-out;
    height: 100vh;
    overflow: auto;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(white, .9);
    cursor: pointer;

    &.open:not(.closing) {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}
